<h1>Edit Product</h1>
<nav>
<ul>
  <li><a href="/">Home</a></li><li><a href="/products">Products</a></li><li><a href="/suppliers">Suppliers</a></li>
</ul>
</nav>

<div class="forms">
<form method="post" action="/products/<%= @product.id %>">
<br>
<label for="name">Name:<br></label>
  <input id="name" type="text" value= "<%= @product.name %>" name="name" />
<br>
  <label for="type">Type: <br></label>
  <input id="type" type="text" value= "<%= @product.type %>" name="type" />
<br>
  <label for="quantity">Quantity: <br></label>
  <input id="quantity" type="text" value="<%= @product.quantity %>" name="quantity" />
<br>
  <label for="cost_price">Cost Price: <br></label>
  <input id="cost_price" type="text" value="<%= @product.cost_price %>" name="cost_price" />
<br>
  <label for="sell_price">Sale Price:<br> </label>
  <input id="sell_price" type="text" value="<%= @product.sell_price %>" name="sell_price" />
<br>
  <label for="supplier">Select a Supplier:<br></label>
  <select id="supplier" name="supplier_id">
    <% for supplier in @suppliers %>
   <option value=<%= supplier.id %>> <%= supplier.name %> </option>
   <%end%>
 </select>
<br>
  <input type="submit" value="Submit Changes"/>
</form>
</div>
