<nav>
<ul>
  <li><a href="/">Home</a></li><li><a href="/suppliers">Suppliers</a></li>
</ul>
</nav>

<h1> products </h1>
<p><a class="btn" href="/products/new">Add Product</a></p>
<table>
  <tr>
  <th>Name</th>
  <th></th>
  <th>Quantity</th>
  <th></th>
  <th></th>
  </tr>
<% for product in @products  %>
<tr>
<td><p><%= product.name() %></p></td>
<td>|</td>
<td><p> <%= product.quantity() %></p></td>
<td><div class="low_stock"><p> <%= product.low_stock %></p></div></td>
<td>|</td>
<td><div class="no_stock"><p><%= product.no_stock %></p></div></td>
<td><p><a href="/products/<%=product.id%>">See Product</a></p></td>
<td></td>
<% end %>
</table>
