<nav>
<ul>
  <li><a href="/">Home</a></li><li><a href="/products">Products</a></li><li><a href="/suppliers">Suppliers</a></li>
</ul>
</nav>

<table>
  <tr>
    <th> Name </th>
    <th> Type </th>
    <th> Quantity </th>
    <th> Cost Price </th>
    <th> Sale Price </th>
    <th> Supplier </th>
    <th> Mark up </th>
  </tr>
  <tr>
    <td> <%= @product.name %></td>
    <td> <%= @product.type %></td>
    <td> <%= @product.quantity %></td>
    <td> £<%= @product.cost_price %></td>
    <td> £<%= @product.sell_price %></td>
    <td> <%= @product.supplier.name %></td>
    <td> £<%= @product.mark_up %></td>
    </tr>


<br>
<p><a class="btn"href="/products/edit/<%=@product.id%>">Edit Product</a></p>
<br>
<form method="post" action="/products/delete/<%= @product.id %>">
   <input type="submit" value="Delete "/>
 </form>
<br>
<form method="post" action="/products/<%= @product.id%>/sell">
  <input type="submit" value="sell">
  </form>
</table>
