<p>Name: <%= @product.name %></p>
<p>Type: <%= @product.type %></p>
<p>quantity: <%= @product.quantity %></p>
<p>Cost Price: £<%= @product.cost_price %></p>
<p>Sale Price: £<%= @product.sell_price %></p>
<p>Supplier: <%= @product.supplier.name %></p>
