<nav>
<ul>
  <li><a href="/">Home</a></li><li><a href="/products">Products</a></li><li><a href="/suppliers">Suppliers</a></li>
</ul>
</nav>


<p>Name: <%= @product.name %></p>
<p>Type: <%= @product.type %></p>
<p>quantity: <%= @product.quantity %></p>
<p>Cost Price: £<%= @product.cost_price %></p>
<p>Sale Price: £<%= @product.sell_price %></p>
<p>Supplier: <%= @product.supplier.name %></p>
